.btn-add {
	float: right;
	background-color: #2196F3 !important;
}

#map {
	height: 100%;
	width: 100%;
}

.material-icons {
	line-height: inherit;
}

.titulo {
	text-align: center;
}

.lista-contatos {
	height: 435px;
}

.altura-card {
	height:500px;
}